*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.form-signin{
    text-align: center;
}
.img-error{
    text-align: center;
}
.icon{
    width: 15vh;
    height: 20vh;
}
.error{
    font-size: 3vh;
    color: #EA5455;
    margin-top:1%;
    margin-bottom:1%;
}
#inputEmail{
    background: #E4DCCF;
    width: 80vh;
    height: 7vh;
    text-align: center;

}
#inputPassword{
    margin-top: 2vh;
    background: #E4DCCF;
    width: 80vh;
    height: 7vh;
    text-align: center;
}
.back{
    margin-top: 7vh;
    width:25vh;
    height: 8vh;
    background: #E4DCCF;
    font-size:4.5vh;
    padding-right: 1%;
    border-radius:3vh;
    color:#002B5B;
    border: none;
}
.sign-up{
    margin-left: 30vh;
    width: 25vh;
    height: 8vh;
    background:#EA5455;
    font-size:4vh;
    border-radius:3vh;
    color:#FFFFFF;
    border: none;
}

