*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    display:flex;
    justify-content:space-between;
    width: 100%;
    height:15vh;
}
#app{
    background-color: #E4DCCF;
}
.title-logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 20vw;
    height: 15vh;
}
.title{
 font-size: 2.0rem;
 color: #002B5B;
 margin-left: 1rem;
}
.logo{
    width: 50px;
    height: 50px;
}
.header-button{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 60vw;
    height: 15vh;
}
.header-button > img{
    width: 50px;
    height: 50px;
    margin: 0 1rem;
}
.header-button > a{
    text-decoration: none;
}
.header-button > img:nth-child(1):hover{
    transition: all 0.7s linear;
    transform: scale(1.4);
}
.header-button > img:nth-child(2):hover{
    transition: all 0.7s linear;
    transform: scale(1.4);
}
.header-button > img:nth-child(3):hover{
    transition: all 0.7s linear;
    transform: scale(1.4);
}
.login-div{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.login-div:hover{
    transition: all 0.7s linear;
    transform: scale(1.2);
    animation: back-color 5s linear infinite;
}
.login-div > img{
    width: 50px;
    height: 50px;
    margin:0 0 0 1rem;
}
.login-div > span{
    font-size: 2.0rem;
    color: #002B5B;
    margin-right: 20px;
}
/* ↑↑　header部分 ↑↑*/
.modal-div{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: hidden;
}
.modal-div.is-active{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: inherit;
}
.modal-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30vh;
    background-color:#F9F5EB;
}
.modal-plan{
    width: 24%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-plan > p{
    font-size: 1.5rem;
}
.modal-plan >img{
    margin-bottom: 10%;
}
.modal-kankou{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-kankou > p{
    font-size: 1.5rem;
}
.modal-kankou > img{
    margin: 15% 0 0 0;
}
.modal-food{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-food > p{
    font-size: 1.8rem;
}
.modal-food >img{
    margin:0% 0 0 15%;
}
.modal-div-post{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: hidden;
}
.modal-div-post.post-active{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: inherit;
}
.modal-body-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30vh;
    background-color:#F9F5EB;
}
.modal-plan-post{
    width: 24%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-plan-post > p{
    font-size: 1.5rem;
}
.modal-plan-post >img{
    margin-bottom: 10%;
}
.modal-kankou-post{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-kankou-post > p{
    font-size: 1.5rem;
}
.modal-kankou-post > img{
    margin: 15% 0 0 0;
}
.modal-food-post{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-food-post > p{
    font-size: 1.8rem;
}
.modal-food-post >img{
    margin:0% 0 0 15%;
}
/* モーダル部分 */
.profille-container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.center-profille{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profille-left{
    width: 45%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top-img{
    width: 25%;
    height: 30vh;
    margin:2rem 0;
}
.like-list{
    width: 50%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #E4DCCF;
}
.profille-right{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.titles-name{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nickname{
    width: 45%;
    height: 10vh;
    border-radius: 20px;
    background-color: #E4DCCF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nickname >span{
    opacity:0.5 ;
}
.title-holder{
    width: 45%;
    height: 10vh;
    border-radius: 20px;
    background-color: #E4DCCF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-holder >span{
    opacity:0.5 ;
}
.comment-div{
    width: 100%;
    height: 25vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #E4DCCF;
}
.comment-div >span{
    padding-left: 3%;
    opacity: 0.5;
}
.trip-container{
    margin: 1.4rem 0;
    width: 100%;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-trip{
    width: 90%;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.trip-left{
    width: 40%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trip-left >img{
    width: 15%;
    height: 15vh;
}
.trip-left >span{
    font-size: 2rem;
    color: #002B5B;
}
.trip-right{
    width: 60%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.total-post{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.place-visite{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-container{
    margin: 2rem 0;
    width: 100%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-post{
    width: 90%;
    height: 55vh;;
    display: flex;
    align-items: center;
    background-color: #E4DCCF;
    flex-direction: column;
    border-radius: 20px;
}
.new-title-delete{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.new-post{
 padding-left: 4rem;
 font-size: 2rem;
 color: #002B5B;
}
.post-delete{
    margin-right: 4rem;
    width: 10%;
    height: 7.5vh;
    color: #F9F5EB;
    background-color: #EA5455;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-posts{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
.post-card{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post-type{
    font-size: 1.4rem;
    color: #002B5B;
}
.new-img{
    width: 70%;
    height: 30vh;
    background-color: #F9F5EB;
    border-radius: 20px;
}
.back-button{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
.back{
    width: 20%;
    height: 10vh;
    color: #002B5B;
    background-color: #E4DCCF;
    border-radius: 20px;
    border: 2px solid #E4DCCF;
}
.back:hover{
    transition: all 0.5s linear;
    transform: translateY(-10px);
    box-shadow: 9px 9px 10px #aaa;
}
/* ↑↑プロ―フィール画面↑↑*/
.stamp-container{
    margin: 3rem 0;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-stamp{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.triplog-post{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trip-font{
    margin-left: 5%;
    color: #002B5B;
}
.total-font{
    margin-right: 5%;
    color: #002B5B;
}
.region-post{
    width: 80%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.region-div >div >img{
    /* width: 30%; */
    height:10vh;
    position: relative;
    top: 0;
    left: -80%;
}
.tohoku-div{
    width: 100%;
    height:20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.region-div{
    margin: 2rem 0;
    width: 100%;
    height: 13.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.div-flex{
    width: 40%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-colum{
    width: 40%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    color: #002B5B;
}
.back-span:hover{
    text-decoration: underline #002B5B;
}
.kyushu-com{
    display: none;
} 
.tohoku-com{
    display: none;
}
.kanto-com{
    display: none;
}
.tyubu-com{
    display: none;
}
.kinki-com{
    display: none;
}
.shikoku-com{
    display: none;
}
.region-com.is-none{
    display: none;
}
.kyushu-com.is-kyushu{
    display: block;
}
.tohoku-com.is-tohoku{
    display: block;
}
.kanto-com.is-kanto{
    display: block;
}
.tyubu-com.is-tyubu{
    display: block;
}
.kinki-com.is-kinki{
    display: block;
}
.shikoku-com.is-shikoku{
    display: block;
}
/*スタンプラリー地方画面↑↑ */
.detail-container{
    margin: 3rem 0;
    width: 100%;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detail-circle{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 150px;
    height: 150px;
    background-image: radial-gradient(#f2f2f2 65%, transparent 61%), conic-gradient(#d5525f 0% 100%, #d9d9d9  100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-liked{
    position: relative;
    left: -5%;
    width: 30%;
    height:12%;
    border-radius: 10px;
    background-color: #E4DCCF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-liked > p{
    margin-top: 7%;
}
.detail-log{
    position: relative;
    top: -20%;
    left: -40%;
    color: #002B5B;
}
.detail-right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-img{
    width: 70%;
    height: 70%;
    border: 2px dashed black;
}
/* スタンプラリー都道府県別詳細画面 */