*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    display:flex;
    justify-content:space-between;
    width: 100%;
    height:15vh;
}
#app{
    background-color: #E4DCCF;
}
.title-logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 20vw;
    height: 15vh;
}
.title{
 font-size: 2.0rem;
 color: #002B5B;
 margin-left: 1rem;
}
.logo{
    width: 50px;
    height: 50px;
}
.header-button{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 60vw;
    height: 15vh;
}
.header-button > img{
    width: 50px;
    height: 50px;
    margin: 0 1rem;
}
.header-button > a{
    text-decoration: none;
}
.header-button > img:nth-child(1):hover{
    transition: all 0.7s linear;
    transform: scale(1.4);
}
.header-button > img:nth-child(2):hover{
    transition: all 0.7s linear;
    transform: scale(1.4);
}
.header-button > img:nth-child(3):hover{
    transition: all 0.7s linear;
    transform: scale(1.4);
}
.login-div{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.login-div:hover{
    transition: all 0.7s linear;
    transform: scale(1.2);
    animation: back-color 5s linear infinite;
}
.login-div > img{
    width: 50px;
    height: 50px;
    margin:0 0 0 1rem;
}
.login-div > span{
    font-size: 2.0rem;
    color: #002B5B;
    margin-right: 20px;
}
/* ↑↑　header部分 ↑↑*/
.modal-div{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: hidden;
}
.modal-div.is-active{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: inherit;
}
.modal-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30vh;
    background-color:#F9F5EB;
}
.modal-plan{
    width: 24%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-plan > p{
    font-size: 1.5rem;
}
.modal-plan >img{
    margin-bottom: 10%;
}
.modal-kankou{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-kankou > p{
    font-size: 1.5rem;
}
.modal-kankou > img{
    margin: 15% 0 0 0;
}
.modal-food{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-food > p{
    font-size: 1.8rem;
}
.modal-food >img{
    margin:0% 0 0 15%;
}
/* ↑↑モーダルの部分↑↑ */
.img-div{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}
.img-div >img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/* ホームの大きい画像のやつ↑↑ */
.post-select{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height: 20vh;
    background-color: #E4DCCF;
}
.kankou-div{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    border-left: 3px solid black;
}
.kankou-div >img{
    position: relative;
    left: -20px;   
}
.food-div{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    border-left: 3px solid black;
}
.food-div >img{
    position: relative;
    top:-15px;
    left: -20px;    
}
.plan-div{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}
.plan-div >img{
    position: relative;
    top: -15px;
    left: -20px;
}
.post-font{
    font-size: 2.5rem;
}
/* 投稿の選択部分のやつ↑↑ */
#card{
    margin:0;
    padding:0 10px;
    width: 100%;
}
.container-plan{
    display: flex;
    width: 100%;
    height: 60vh;
    margin: 5% 0;
}
.card-ele{
    width: 100%;
    height: 60vh;
    margin:0 10px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    background-color:#F9F5EB;
}
.card-ele:hover{
    transition: all 0.2s linear;
    transform: translateY(-10px);
    transform: translateX(-2px);
    box-shadow: 4px 4px  10px #666;
}
.favorite-font{
    margin: 3rem 3rem;
    color: #002B5B;
}
.img-top{
    width: 100%;
    height:40vh;
    object-fit: cover;
    object-position:30%  0%;
    border-radius: 10px 10px 0 0;
}
.text-body{
    height: 20vh;
    background-color:#F9F5EB;
    border-radius: 0 0 10px 10px;
}
/* cardのデザインのやつ ↑↑*/

/* ↑↑モーダル検索の部分↑↑ */
.modal-div-post{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: hidden;
}
.modal-div-post.post-active{
    position: absolute;
    top: 16%;
    left: 13.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:50vh;
    background-color:#F9F5EB;
    border-radius: 20px;
    z-index: 1;
    visibility: inherit;
}
.modal-body-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30vh;
    background-color:#F9F5EB;
}
.modal-plan-post{
    width: 24%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-plan-post > p{
    font-size: 1.5rem;
}
.modal-plan-post >img{
    margin-bottom: 10%;
}
.modal-kankou-post{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-kankou-post > p{
    font-size: 1.5rem;
}
.modal-kankou-post > img{
    margin: 15% 0 0 0;
}
.modal-food-post{
    width: 23%;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E4DCCF;
    border-radius: 20px;
}
.modal-food-post > p{
    font-size: 1.8rem;
}
.modal-food-post >img{
    margin:0% 0 0 15%;
}
/* ↑↑モーダル投稿の部分↑↑ */
.img-div{
    position: relative;
    width: 100%;
    animation:change-img-anim 12s linear infinite;
    border-radius: 0 0 20px 20px;
}
/* 検索系のやつ ↑↑*/
 .public-title-div{
    margin-top: 2%;
    width: 100%;
    height:10vh;
    display: flex;
    align-items: center;
}
.check{
    margin-left: 2%;
    width: 10%;
    font-size:1.3rem;
    color: #002B5B;
}
.box{
    width:1.1rem;
    height:1.1rem;
}
.post-title{
    width: 40%;
    height:10vh;
    font-size: 1.5rem;
    position: relative;
    left: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E4DCCF;
    border-radius: 10px;
    border: none;
}
.post-title::placeholder{
    text-align: center;
}
.post-container{
    margin-top:2%;
    width: 100%;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-color{
    width: 70%;
    height:55vh;
    background-color: #E4DCCF;
    border-radius: 20px;
    display: flex;
}
.left-container{
    width: 60%;
    height:50vh;
}
.left-container >div:not(:first-child){
    margin-top: 5px;
    margin-left: 3%;
}
.left-container >div:first-child{
    margin-bottom: 0;
    margin-left: 3%;
}
.logo-img{
    margin-right: 2%;
}
.comment-text{
    width: 60%;
    margin:2% 2%;
    padding:3% 0;
    border: 1px solid #F9F5EB;
    background-color: #F9F5EB;
    border-radius: 10px;
}
.comment-text::placeholder{
    padding-left: 3%;
}
.place-div > select{
    width: 30%;
    margin:2% 2%;
    padding:1% 0;
    border: 1px solid #F9F5EB;
    background-color: #F9F5EB;
    border-radius: 10px;
    text-align: center;
}
.place-text{
    margin:2% 2%;
    padding:1% 6%;
    border: 1px solid #F9F5EB;
    background-color: #F9F5EB;
    border-radius: 10px;
}
.traffic-div > select{
    width: 30%;
    margin:2% 2%;
    padding:1% 0;
    border: 1px solid #F9F5EB;
    background-color: #F9F5EB;
    border-radius: 10px;
    text-align: center;
}
.number-text{
    width: 30%;
    margin:2% 2%;
    padding:1% 0;
    border: 1px solid #F9F5EB;
    background-color: #F9F5EB;
    border-radius: 10px;
    text-align: center;
}
.traffic-div > span{
    font-size: 1.2rem;
}
.time-div > input[type="time"]{
    width: 30%;
    margin:2% 2%;
    padding:1% 0;
    border: 1px solid #F9F5EB;
    background-color: #F9F5EB;
    border-radius: 10px;
    text-align: center;
}
.file-div >label > input[type="file"]{
    display:none;
}
.file-div > label{
    width: 30%;
    margin:2% 2%;
    padding:1% 0;
    text-align: center;
    color: #002B5B;
    font-size:1.2rem ;
}
.file-div > label:hover{
    text-decoration: underline dashed #002B5B;
}
.right-container{
    width: 40%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-container >button{
    position: relative;
    top: -8%;
    right: -46%;
    border-radius: 50%;
    padding: 3% 5%;
    border:none;
    background-color: #EA5455;
    color: #F9F5EB;
}
.right-container > img{
    width: 80%;
    height:40vh;
    border:2px dashed #002B5B;
}
.add-container{
    width: 100%;
    height:5vh;
}
.add-post{
    position: relative;
    left: 14%;
    font-size: 1.3rem;
    color: #002B5B;
    width: 10%;
    border: none;
    background-color: white;
}
.add-post::before{
    content: "+";
    font-size: 1.3rem;
    color: #002B5B;
}
.button-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 2% 0;
}
.back-button{
    font-size: 1.2rem;
    color: #002B5B;
    padding: 1% 4%;
    background-color: #E4DCCF;
    border: 2px solid #E4DCCF;
    border-radius: 20px;
}
.share-button{
    font-size: 1.2rem;
    color: #F9F5EB;
    padding: 1% 4%;
    background-color: #EA5455;
    border: 2px solid #EA5455;
    border-radius: 20px;
}
/* 旅行プラン投稿*/
.href-color{
    text-decoration: none;
    color: #002B5B;
}